# directories

__pycache__/
asm/
assets/
bin/
build/
expected/
junk/
nonmatchings/
py/
rnc/
rodata/


# symlinks

src

# files

*.ld
*auto.txt
*.ok
.splat_cache
*.bin
*.z64
progress*.csv
*.inc.c
*.ply
ctx.c
ctx.c.m2c
