ansiwrap
attrs
colorama
crunch64==0.3.1
cxxfilt
intervaltree
n64img==0.2.1
pycparser
pygfxd==1.0.2
pylibyaml
pynacl
pypng
python-Levenshtein
python-ranges
pyyaml
rabbitizer==1.9.1
spimdisasm==1.21.0
toml
tqdm
watchdog