name: build_pr

on:
  pull_request_target:
    branches: [ master ]

jobs:
  build_pr:
    if: ${{ github.event.pull_request.head.repo.full_name != github.repository }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
        - version: eu
        - version: us
      fail-fast: False
    steps:
    - name: Checkout this repo
      uses: actions/checkout@v2
      with:
        submodules: recursive
        ref: ${{ github.event.pull_request.head.ref }}
        repository: ${{ github.event.pull_request.head.repo.full_name }}
    - name: Checkout baserom
      uses: actions/checkout@v2
      with:
        repository: mkst/sssv-private
        token: ${{ secrets.PRIVATE_REPO_ACCESS }}
        path: baserom
    - name: Decrypt baserom
      env:
        ROM: ${{ matrix.version }}
      run: echo ${{ secrets.SSSV_BASEROM_US }} | openssl enc -d -aes-256-cbc -pass stdin -pbkdf2 -in baserom/baserom.${ROM}.z64.aes -out baserom.${ROM}.z64

    - name: Perform make extract
      uses: docker://ghcr.io/mkst/sssv:latest
      env:
        ROM: ${{ matrix.version }}
      with:
        args: make extract VERSION=${ROM}

    - name: Perform make
      uses: docker://ghcr.io/mkst/sssv:latest
      env:
        ROM: ${{ matrix.version }}
      with:
        args: make --jobs VERSION=${ROM}

    # build NON_MATCHING ROM

    - name: Touch NON_MATCHING files
      uses: docker://ghcr.io/mkst/sssv:latest
      env:
        ROM: ${{ matrix.version }}
      with:
        args: grep -R src.${ROM} NON_MATCHING | xargs touch

    - name: Perform make NON_MATCHING
      uses: docker://ghcr.io/mkst/sssv:latest
      env:
        ROM: ${{ matrix.version }}
      with:
        args: make --jobs VERSION=${ROM} NON_MATCHING=1
