name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository || github.event_name == 'push' }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
        - version: eu
        - version: us
      fail-fast: False
    steps:
    - name: Checkout this repo
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Checkout baserom
      uses: actions/checkout@v4
      with:
        repository: mkst/sssv-private
        token: ${{ secrets.PRIVATE_REPO_ACCESS }}
        path: baserom
    - name: Decrypt baserom
      env:
        ROM: ${{ matrix.version }}
      run: echo ${{ secrets.SSSV_BASEROM_US }} | openssl enc -d -aes-256-cbc -pass stdin -pbkdf2 -in baserom/baserom.${ROM}.z64.aes -out baserom.${ROM}.z64

    - name: Perform make extract
      uses: docker://ghcr.io/mkst/sssv:latest
      env:
        ROM: ${{ matrix.version }}
      with:
        args: make extract VERSION=${ROM}
    - name: Perform make
      uses: docker://ghcr.io/mkst/sssv:latest
      env:
        ROM: ${{ matrix.version }}
      with:
        args: make --jobs VERSION=${ROM}

    - name: Create progress.csv
      uses: docker://ghcr.io/mkst/sssv:latest
      env:
        ROM: ${{ matrix.version }}
      with:
        args: make progress VERSION=${ROM}

    - name: Create progress_filename variable
      id: vars
      shell: bash
      run: |
        echo "progress_filename=$(echo ${GITHUB_SHA}.$(git show -s --format=%at ${GITHUB_SHA}).csv)" >> $GITHUB_ENV

    - name: Rename progress.csv
      run: mv progress.csv "${{ env.progress_filename }}"

    - name: Touch NON_MATCHING files
      uses: docker://ghcr.io/mkst/sssv:latest
      env:
        ROM: ${{ matrix.version }}
      with:
        args: grep -Rl NON_MATCHING src.${ROM} | xargs touch

    - name: Perform make NON_MATCHING
      uses: docker://ghcr.io/mkst/sssv:latest
      env:
        ROM: ${{ matrix.version }}
      with:
        args: make --jobs VERSION=${ROM} NON_MATCHING=1

    - name: Push progress.csv to sssv-website repo
      if: ${{ github.event_name == 'push' && matrix.version == 'us' }}
      uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
      env:
        API_TOKEN_GITHUB: ${{ secrets.WEBSITE_REPO_ACCESS }}
      with:
        source_file: "${{ env.progress_filename }}"
        destination_repo: mkst/sssv-website
        destination_folder: progress/data
        user_email: streetster@gmail.com
        user_name: mkst
        destination_branch: master
